/* Fonts used: Arial, Verdana, Segoe UI */
* {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
}

/* HEADER */
.fixedHeader {
  background-color: #FFF;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.322);
  font-family: Verdana, sans-serif;
  height: 54px;
  padding: 8px 16px;
  position: fixed;
  z-index: 1;
  width: 100%;
}
.fixedHeader a{
  color: #000;
  display: inline-block;
  font-size: 15px;
  height: 100%;
  letter-spacing: 4px;
  padding: 8px 16px;
  text-decoration: none;
}
.fixedHeader a:hover {
  background-color: #CCC;
}
.fixedHeader span {
  font-weight: bold;
}
.fixedHeader > .sideLinks {
  float: right;
  height: 100%;
}

/* Logo image */
.logoImage {
  position: relative;
}

.logoImage img {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 1500px;
  width: 100%;
}

.logoImage .logo {
  color: #FFF;
  font-family: 'Segoe UI', sans-serif;
  font-size: 36px;
  position: absolute;
  top: 48.5%;
  left: 50%;
  transform: translateX(-50%);
}
.logoImage h1 {
  letter-spacing: 4px;
}
.logoImage > .logo > .logo-span {
  background-color: #000;
  padding: 8px 16px;
  font-weight: bold;
  opacity: 0.75;
}

/* Main */
main {
  padding: 8px 16px;
}

/* Generic areas */
.area-title{
  padding: 32px 16px;
}

.h2-title{
  border-bottom: 1px solid rgba(192, 192, 192, 0.199);
  font-family: 'Segoe UI', sans-serif;
  font-size: 24px;
  padding: 16px 0;
  margin: 10px 0;
}

.area-content {
  padding: 0 8px;
}

/* Projects area */
.projects .area-content figure{
  display: inline-block;
  width: 25%;
  margin: 0 0 9px;
  padding: 0 8px;
  position: relative;
}
.projects img {
  height: auto;
  width: 100%;
}
.projects figcaption {
  color: #FFF;
  position: absolute;
  background-color: #000;
  top: 0;
  padding: 8px 16px;
  font-size: 15px;
  font-family: Verdana, sans-serif;
}

/* About area */
.about .area-content {
  padding: 0 8px;
}
.about p {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  margin: 15px 0;
}
.about-pictures .staff-info {
  display: inline-block;
  width: 25%;
  padding: 0 8px;
  margin: 0 0 16px;
}
.staff-info img {
  width: 100%;
  height: auto;
  filter: grayscale(75%);
  display: block;
}
.staff-info h3 {
  font-size: 24px;
  font-family: 'Segoe UI', sans-serif;
  margin: 10px 0;
}
.staff-info h4 {
  font-size: 15px;
  font-family: Verdana, sans-serif;
  opacity: 0.65;
  margin: 15px 0;
}
.staff-info button {
  width: 100%;
  border: none;
  padding: 8px 16px;
  font-size: 15px;
  font-family: Verdana, sans-serif;
  height: 38px;
  margin: 0 0 15px;
}

/* Media queries */
@media (max-width: 1000px) {
  .projects .area-content figure {
    width: 50%;
  }

  .about .staff-info {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .fixedHeader > .sideLinks {
    display: none;
  }

  .logoImage .logo .title-span{
    display: none;
  }

  .projects .area-content figure {
    width: 100%;
  }

  .about .staff-info {
    width: 100%;
  }
}